.mainLayout{
    height:100%;
    display: grid;
    grid-template-columns: 1fr 5fr;
}
.sideBar{
    background: #232379;
    height: 100%;
}
.searchBar{
    padding-top: 10px;
    width: 80%;
    padding-bottom: 1rem;
    margin: auto;
}
.searchBar > span{
    width: 100%!important;
    border: none;
    padding: 5px;
    border-radius: 15px!important;
}

.user{
    text-align: center;
    background-color: #1d1d9c;
    border:2px solid black;
    margin:0!important;
}
.user > h1{
    color: #f3f2f2;
}
.chatLayout{
    display: grid;
    grid-template-rows: 0.7fr 10fr 0.5fr;
}
.header{
    background: #232479;
}
.block{
    display:block;
}
.searchUser{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}
.searchUser > h1{
    color: #ababd4;
}
.messageForm{
    justify-content: center;
    width: 100%;
    display: grid;
    grid-template-columns: 10fr 1fr;
    height: 100%;
}
.messageForm > div{
    margin:0;
}
.buttons{
    width:100%;
    background:black!important;
    border:none!important;
    height:3rem;
}
.Messages{
    padding: 1rem;
    height: 41rem;
    overflow: scroll;
    margin: 1rem;
}
.sender > span{
    background: #c9c9ff;
    color: white;
    padding: 10px;
    border-radius: 20px;
}
.reciever > span{
    background: #232479;
    color: white;
    padding: 10px;
    border-radius: 20px;
}