.messageForm{
    justify-content: center;
    width: 100%;
    display: grid;
    grid-template-columns: 10fr 1fr;
    height: 100%;
}
.messageForm > div{
    margin:0;
}
.buttons{
    width:100%;
    background:black!important;
    border:none!important;
}